html, body {
    height: 100%;
}

body {
    background-image: url("images/background.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#result {
    background-color: aqua;
}

/*.options {
    display: flex;
    justify-content: center;
    align-items: center;

}*/